body {
    background-color: black;
    color: rgb(255, 8, 8);
    text-align: center;
}

h1 {
    text-shadow: red 0px 0px 10px;
}

.res {
    color: rgb(178, 179, 180);
    text-shadow: rgb(0, 0, 0) 0px 0px 10px;
}

h2 {
    color: rgb(120, 86, 86);
    text-align: center;
    font-size: 15px;
}

h4 {
    color: rgb(178, 154, 154);
    text-align: center;
    font-size: 20px;
}

details {
    width: 150px;
    text-align: center;
    margin: 0 auto;
}

summary {
    background: #c61212e2;
    color: rgb(181, 211, 168);
    padding: 5px 8px;
    cursor: pointer;
    list-style: none;
    text-align: center;
    border-radius: 10px;

}

.boton:hover {
    transform: scale(1.1);
}

.operaciones {
    background: #3e100834;
    border: 1px solid #520404;
    border-radius: 5px;
    margin-top: 5px;
}

.operaciones p {
    margin: 0;
    padding: 10px;
    cursor: pointer;
}

.operaciones p:hover {
    background-color: #c6121219;
    color: rgb(181, 211, 168);
    transition: all 0.3s ease;
}

.conteiner-resultados {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    display: none;
    justify-content: center;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.6);
    backdrop-filter: blur(10px);
    z-index: 999;
}

.modal-resultados {
    width: 450px;
    height: auto;
    padding: 10px;
    border-radius: 10px;
    background-color: rgba(77, 39, 39, 0.233);
    text-align: center;
    border: 2px solid #ed0b0b;
}

.modal-resultados h2 {
    font-size: 25px;
    font-weight: 500;
}

.modal-resultados p {
    font-size: 16px;
    font-weight: 400;
    margin-bottom: 20px;
}

.close {
    width: 70px;
    height: 40px;
    line-height: 40px;
    border-radius: 10px;
    background-color: rgb(240, 0, 0);
    cursor: pointer;
    margin: 35px auto; 

}

.close:hover {
    transform: scale(1.1);
}

.close p {
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: 500;
    line-height: 40px;
    margin: 0;
}

.imagen {
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 90px;
    left: 20px;
    z-index: 1;
}

.imagen2 {
    width: 450px;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    position: absolute;
    bottom: 90px;
    right: 20px;

    z-index: 1;
}